<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.10.2.xsd">

	
	<!-- 引入外部配置参数 -->
	<context:property-placeholder location="classpath:etl.properties"/>
	
	
	<!-- 配置扫描组件包 -->
	<context:component-scan base-package="com.repos">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	
	<!-- mongodb -->
	<!-- ========================================================== -->
	<mongo:mongo id="mongo" replica-set="${mongo.replicaSet}">
         <mongo:options  
	        connections-per-host="${mongo.connectionsPerHost}"  
	        threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"  
	        connect-timeout="${mongo.connectTimeout}"   
	        max-wait-time="${mongo.maxWaitTime}"  
	        auto-connect-retry="${mongo.autoConnectRetry}"   
	        socket-keep-alive="${mongo.socketKeepAlive}"  
	        socket-timeout="${mongo.socketTimeout}"  
	        slave-ok="${mongo.slaveOk}"  
	        write-number="${mongo.writeNumber}"  
	        write-timeout="${mongo.writeTimeout}"  
	        write-fsync="${mongo.writeFsync}"/>
	</mongo:mongo>
	
	<mongo:db-factory id="datareposMongoDbFactory" dbname="datarepos" mongo-ref="mongo" username="${datarepos.username}" password="${datarepos.password}"/>
    <mongo:template id="datareposMongoTemplate" db-factory-ref="datareposMongoDbFactory"/>
    <mongo:repositories 
    		base-package="com.repos.mongo.datarepos" 
    		mongo-template-ref="datareposMongoTemplate" 
    		repository-impl-postfix="Impl"/>
    		
	<mongo:db-factory id="creditvettingMongoDbFactory" dbname="creditvetting" mongo-ref="mongo" username="${creditvetting.username}" password="${creditvetting.password}"/>
    <mongo:template id="creditvettingMongoTemplate" db-factory-ref="creditvettingMongoDbFactory"/>
    <mongo:repositories 
    		base-package="com.repos.mongo.vetting" 
    		mongo-template-ref="creditvettingMongoTemplate" 
    		repository-impl-postfix="Impl"/>
   
   
   
   <!-- mysql -->
   <!-- ========================================================== -->
   <!-- jdbc datasources -->		
   <bean id="creditvettingDatasource" class="com.repos.utils.MyDruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName">
			<value>${creditvetting.mysql.jdbc.driver}</value>
		</property>
		<property name="url">
			<value>${creditvetting.mysql.jdbc.url}</value>
		</property>
		<property name="username">
			<value>${creditvetting.mysql.jdbc.user}</value>
		</property>
		<property name="password">
			<value>${creditvetting.mysql.jdbc.pwd}</value>
		</property>
		<property name="initialSize" value="${creditvetting.mysql.druid.initialSize}" />
		<property name="minIdle" value="${creditvetting.db.druid.minIdle}" />
		<property name="maxActive" value="${creditvetting.db.druid.maxActive}" />
		<property name="maxWait" value="${creditvetting.db.druid.maxWait}" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="filters" value="stat" />
	</bean>
	
	<!-- 装配lobHandler -->
	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>
	
	<!-- 装配jdbcTemplate -->
	<bean id="creditvettingJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="creditvettingDatasource"/>
	</bean>
	
	
	
	<!-- 数据搬运组 -->
	<!-- ========================================================== -->
	<bean id="loanApplicationCarrierGroup" class="com.repos.integration.etl.CarrierGroup">
		<constructor-arg name="extracter" ref="loanApplicationExtracter"/>
		<constructor-arg name="loader" ref="loanApplicationLoader"/>
		<constructor-arg name="startId" value="1"/>
		<constructor-arg name="endId" value="#{null}"/>
		<!-- <constructor-arg name="endId" value="30"/> -->
		<constructor-arg name="carrierGroupBatchSize" value="1000"/>
		<constructor-arg name="carrierBatchSize" value="250"/>
	</bean>
	
	
	
	<!-- 定时任务 -->
	<!-- ========================================================== -->
	<import resource="applicationContext-quartz.xml"/>
</beans>
